:root {
    // --bs-modal-width: 930px !important;

    --template-padding: 40px;
    --template-max-width: 1280px;
    --template-breakout-max-width: var(--template-max-width);

    --bg-main: rgb(28, 28, 28);
    --bg-accent: rgb(238, 54, 74);
    --bg-accent-active: rgb(195, 46, 62);
    --color-main: #fff;
    --color-accent: rgb(238, 54, 74);
    --color-accent-active: rgb(195, 46, 62);

}